html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html { overflow-y: scroll; }
body {
  font-family: Arial, Tahoma, sans-serif;
  background: #EBEEF0;
  font-size: 62.5%;
  line-height: 1;
}

header {
  display: flex;
  flex-direction: row;
  /*margin-left: auto;
  margin-right: auto;*/
  width: 260px;
}

.ico {
  display: inline-block;
  line-height: 0;
  vertical-align: top;
  text-indent: 999em;
  white-space: nowrap;
  overflow: hidden;
}

.ico-shopify-bag {margin-top:80px;margin-bottom:5px;display:inline-block;width:150px;height:42px;background-size:cover;background:url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20150%2043%22%20version%3D%221.1%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3Ecircle%2Cellipse%2Cline%2Cpath%2Cpolygon%2Cpolyline%2Crect%2Ctext%7Bfill%3A%2395a7b7%20%21important%3B%20%7D%3C%2Fstyle%3E%3Cg%3E%3Cpath%20d%3D%22M33.3%2C8.9%20C33.3%2C8.9%2033.3%2C8.7%2033.2%2C8.6%20C33.1%2C8.5%2033%2C8.5%2033%2C8.5%20L29.6%2C8.3%20L27.5%2C6.2%20C27.4%2C6.1%2027.3%2C6.1%2027.2%2C6.1%20L25.4%2C42.2%20L38%2C39.5%20L33.3%2C8.9%20Z%20M25.8%2C5.9%20L24.9%2C6.2%20C24.3%2C4.6%2023.6%2C3.4%2022.6%2C2.7%20C21.9%2C2.2%2021.1%2C2%2020.3%2C2.1%20C20.1%2C1.9%2019.9%2C1.7%2019.7%2C1.5%20C18.8%2C0.8%2017.6%2C0.6%2016.1%2C1.2%20C11.8%2C2.7%2010%2C8.3%209.3%2C11%20L5.5%2C12.1%20C5.5%2C12.1%204.6%2C12.3%204.4%2C12.6%20C4.2%2C12.9%204.1%2C13.6%204.1%2C13.6%20L0.9%2C37.9%20L24.5%2C42.3%20L26.3%2C6%20C26.1%2C5.8%2025.9%2C5.9%2025.8%2C5.9%20Z%20M20.1%2C7.6%20L16%2C8.9%20C16.5%2C6.8%2017.6%2C4.6%2019.6%2C3.8%20C20%2C4.8%2020.1%2C6.3%2020.1%2C7.6%20Z%20M16.6%2C2.4%20C17.5%2C2.1%2018.2%2C2.1%2018.7%2C2.4%20C16%2C3.6%2014.8%2C6.7%2014.3%2C9.3%20L11%2C10.3%20C11.7%2C7.8%2013.3%2C3.6%2016.6%2C2.4%20Z%20M18.9%2C20.3%20C18.7%2C20.2%2018.5%2C20.1%2018.2%2C20%20C17.9%2C19.9%2017.7%2C19.8%2017.4%2C19.7%20C17.1%2C19.6%2016.8%2C19.6%2016.4%2C19.5%20L15.3%2C19.5%20C15%2C19.5%2014.7%2C19.6%2014.4%2C19.7%20C14.1%2C19.8%2013.9%2C19.9%2013.7%2C20.1%20C13.5%2C20.3%2013.4%2C20.5%2013.3%2C20.7%20C13.2%2C20.9%2013.1%2C21.2%2013.1%2C21.4%20C13.1%2C21.6%2013.1%2C21.8%2013.2%2C22%20C13.3%2C22.2%2013.4%2C22.4%2013.5%2C22.6%20C13.7%2C22.8%2013.9%2C23%2014.1%2C23.2%20C14.3%2C23.4%2014.6%2C23.6%2014.9%2C23.8%20C15.4%2C24.1%2015.8%2C24.4%2016.3%2C24.8%20C16.8%2C25.2%2017.2%2C25.6%2017.5%2C26.1%20C17.9%2C26.6%2018.2%2C27.1%2018.4%2C27.8%20C18.6%2C28.4%2018.7%2C29.1%2018.7%2C29.9%20C18.6%2C31.1%2018.4%2C32.2%2017.9%2C33.1%20C17.5%2C34%2016.8%2C34.7%2016.1%2C35.2%20C15.4%2C35.7%2014.5%2C36%2013.6%2C36.1%20C12.7%2C36.2%2011.7%2C36.2%2010.8%2C35.9%20C10.3%2C35.8%209.9%2C35.6%209.5%2C35.5%20C9.1%2C35.3%208.7%2C35.1%208.3%2C34.9%20C8%2C34.7%207.6%2C34.5%207.4%2C34.3%20C7.1%2C34.1%206.9%2C33.9%206.7%2C33.6%20L7.8%2C30%20C8%2C30.2%208.2%2C30.3%208.5%2C30.5%20C8.8%2C30.7%209.1%2C30.9%209.4%2C31%20C9.7%2C31.2%2010.1%2C31.3%2010.4%2C31.5%20C10.8%2C31.6%2011.1%2C31.7%2011.5%2C31.8%20L12.3%2C31.8%20C12.5%2C31.7%2012.8%2C31.6%2012.9%2C31.5%20C13.1%2C31.4%2013.2%2C31.2%2013.3%2C31%20C13.4%2C30.8%2013.4%2C30.6%2013.5%2C30.3%20C13.5%2C30.1%2013.5%2C29.8%2013.4%2C29.6%20C13.3%2C29.4%2013.2%2C29.2%2013.1%2C28.9%20C13%2C28.7%2012.8%2C28.5%2012.5%2C28.2%20C12.3%2C28%2012%2C27.7%2011.6%2C27.5%20C11.2%2C27.2%2010.8%2C26.9%2010.4%2C26.5%20C10.1%2C26.1%209.7%2C25.8%209.5%2C25.3%20C9.3%2C24.9%209.1%2C24.4%208.9%2C23.9%20C8.8%2C23.4%208.7%2C22.9%208.7%2C22.3%20C8.7%2C21.3%208.9%2C20.5%209.3%2C19.7%20C9.6%2C18.9%2010.1%2C18.2%2010.7%2C17.5%20C11.3%2C16.9%2012%2C16.3%2012.9%2C15.9%20C13.8%2C15.5%2014.7%2C15.2%2015.8%2C15%20C16.3%2C14.9%2016.8%2C14.9%2017.2%2C14.9%20C17.7%2C14.9%2018.1%2C14.9%2018.5%2C15%20C18.9%2C15.1%2019.3%2C15.1%2019.6%2C15.2%20C19.9%2C15.3%2020.2%2C15.4%2020.5%2C15.5%20L18.9%2C20.3%20Z%20M21.5%2C7.2%20L21.5%2C6.7%20C21.5%2C5.4%2021.3%2C4.3%2021%2C3.5%20C21.3%2C3.5%2021.6%2C3.6%2021.9%2C3.8%20C22.7%2C4.3%2023.2%2C5.4%2023.6%2C6.6%20L21.5%2C7.2%20Z%22%2F%3E%3Cpath%20d%3D%22M45.3%2C29.6%20C46.2%2C30.1%2047.8%2C30.7%2049.4%2C30.7%20C50.8%2C30.7%2051.6%2C29.9%2051.6%2C29%20C51.6%2C28.1%2051.1%2C27.5%2049.5%2C26.6%20C47.6%2C25.5%2046.2%2C24%2046.2%2C22%20C46.2%2C18.5%2049.2%2C16%2053.6%2C16%20C55.5%2C16%2057%2C16.4%2057.8%2C16.8%20L56.6%2C20.3%20C55.9%2C20%2054.8%2C19.6%2053.5%2C19.6%20C52.1%2C19.6%2051.2%2C20.2%2051.2%2C21.3%20C51.2%2C22.1%2051.9%2C22.7%2053.1%2C23.3%20C55.1%2C24.4%2056.7%2C25.9%2056.7%2C28%20C56.7%2C32%2053.5%2C34.2%2049%2C34.1%20C46.9%2C34.1%2045%2C33.5%2044.1%2C32.9%20L45.3%2C29.6%20Z%20M57.7%2C34.1%20L62.6%2C8.9%20L67.6%2C8.9%20L65.7%2C18.7%20L65.8%2C18.7%20C67.1%2C17.1%2068.9%2C16%2071.1%2C16%20C73.7%2C16%2075.2%2C17.7%2075.2%2C20.5%20C75.2%2C21.4%2075.1%2C22.7%2074.8%2C23.8%20L72.8%2C34.1%20L67.8%2C34.1%20L69.7%2C24.2%20C69.8%2C23.5%2069.9%2C22.7%2069.9%2C22%20C69.9%2C20.9%2069.5%2C20.2%2068.3%2C20.2%20C66.7%2C20.2%2065%2C22.2%2064.3%2C25.5%20L62.6%2C34.2%20L57.7%2C34.2%20L57.7%2C34.1%20Z%20M93.3%2C23%20C93.3%2C29.1%2089.3%2C34.4%2083.4%2C34.4%20C78.9%2C34.4%2076.5%2C31.3%2076.5%2C27.5%20C76.5%2C21.5%2080.5%2C16.1%2086.5%2C16.1%20C91.2%2C16.1%2093.3%2C19.4%2093.3%2C23%20Z%20M81.6%2C27.3%20C81.6%2C29.1%2082.3%2C30.5%2084%2C30.5%20C86.7%2C30.5%2088.1%2C25.8%2088.1%2C22.8%20C88.1%2C21.3%2087.5%2C19.8%2085.7%2C19.8%20C83.1%2C19.9%2081.6%2C24.5%2081.6%2C27.3%20Z%20M92.1%2C41.1%20L95.6%2C23%20C96%2C21%2096.4%2C18.3%2096.6%2C16.4%20L101%2C16.4%20L100.7%2C19.2%20L100.8%2C19.2%20C102.1%2C17.3%20104.1%2C16.2%20106.1%2C16.2%20C109.8%2C16.2%20111.3%2C19.1%20111.3%2C22.5%20C111.3%2C28.5%20107.4%2C34.6%20101.6%2C34.6%20C100.4%2C34.6%2099.2%2C34.1%2098.7%2C34.1%20L98.6%2C34.1%20L97.2%2C41.1%20L92.1%2C41.1%20Z%20M99.3%2C29.9%20C99.8%2C30.3%20100.5%2C30.6%20101.4%2C30.6%20C104.2%2C30.6%20106.1%2C26%20106.1%2C22.8%20C106.1%2C21.5%20105.6%2C20.1%20104.1%2C20.1%20C102.4%2C20.1%20100.7%2C22.1%20100.1%2C25.2%20L99.3%2C29.9%20Z%20M111.5%2C34.1%20L114.9%2C16.4%20L120%2C16.4%20L116.6%2C34.1%20L111.5%2C34.1%20Z%20M118%2C14.5%20C116.6%2C14.5%20115.6%2C13.4%20115.6%2C11.9%20C115.6%2C10.3%20116.9%2C9%20118.5%2C9%20C120%2C9%20121%2C10.1%20121%2C11.6%20C121%2C13.4%20119.6%2C14.5%20118%2C14.5%20Z%20M120.9%2C34.1%20L123.6%2C20.1%20L121.3%2C20.1%20L122%2C16.4%20L124.3%2C16.4%20L124.4%2C15.6%20C124.8%2C13.5%20125.6%2C11.4%20127.3%2C10%20C128.6%2C8.9%20130.4%2C8.4%20132.2%2C8.4%20C133.4%2C8.4%20134.3%2C8.6%20134.9%2C8.8%20L133.9%2C12.7%20C133.5%2C12.6%20133%2C12.4%20132.3%2C12.4%20C130.6%2C12.4%20129.6%2C13.9%20129.3%2C15.6%20L129.1%2C16.4%20L132.6%2C16.4%20L131.9%2C20.1%20L128.4%2C20.1%20L125.7%2C34.1%20L120.9%2C34.1%20L120.9%2C34.1%20Z%20M138.9%2C16.4%20L139.7%2C24.3%20C139.9%2C26.1%20140.1%2C27.6%20140.1%2C28.5%20L140.2%2C28.5%20C140.6%2C27.6%20141%2C26.2%20141.7%2C24.3%20L144.8%2C16.4%20L150%2C16.4%20L143.9%2C29.5%20C141.7%2C34%20139.6%2C37.2%20137.3%2C39.4%20C135.5%2C41.1%20133.4%2C41.9%20132.4%2C42.1%20L131%2C37.9%20C131.8%2C37.6%20132.9%2C37.2%20133.8%2C36.5%20C135%2C35.7%20135.9%2C34.6%20136.5%2C33.5%20C136.6%2C33.2%20136.7%2C33%20136.6%2C32.6%20L133.6%2C16.4%20L138.9%2C16.4%20Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat 0 0;background-position:0 100%;opacity:0.7}.ico-shopify-bag:hover{opacity:1}.forgot-password-container{position:absolute;right:30px;top:50%;margin-top:-10px}.forgot-password{display:block;height:20px;width:20px;opacity:0.7}.forgot-password:hover{opacity:1}.dialog-btn{border-radius:0 0 8px 8px;padding:24px;outline:none;cursor:pointer;display:inline-block;width:100% !important;color:#fff;background:#479ccf;border:none;font-family:"ProximaNovaLight", "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:18px;-webkit-appearance:none}.dialog-btn:hover,.dialog-btn:focus{background:#4293c2}.alternate-login{font-family:"ProximaNovaLight", "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:15px;padding-top:30px}.alternate-login img{margin-right:7px}.alternate-login a{color:#95A7B7}.alternate-login span{display:block}.alternate-login__item{margin-bottom:20px}.alternate-login__item:last-of-type{margin-bottom:0}.remember-me{font-family:"ProximaNovaLight", "Helvetica Neue", Helvetica, Arial, sans-serif;color:#95A7B7;font-size:15px}.remember-me label{color:#95A7B7}.dialog-status{margin:0 !important;border-radius:8px 8px 0 0 !important;text-overflow:ellipsis;overflow:hidden}.dialog-actions{font-family:"ProximaNovaLight", "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:15px;padding-bottom:30px}.dialog-actions a{color:#95A7B7}.dialog-container{text-align:left;background:#fff;max-width:600px;margin:40px auto;border-radius:8px}.no-js{display:block;background:#272c30;color:#fff;padding:20px 0;font-size:15px;font-family:"ProximaNovaLight", "Helvetica Neue", Helvetica, Arial, sans-serif}.no-js a{color:#479ccf}.dialog-actions input[type=submit]{font-family:"ProximaNovaLight", "Helvetica Neue", Helvetica, Arial, sans-serif;font-size:15px;background:none;border:none;color:#95A7B7;text-decoration:underline;cursor:pointer}.login-form,.ico-shopify-bag{-webkit-animation:form-fly-up 0.3s ease;animation:form-fly-up 0.3s ease}@-webkit-keyframes form-fly-up{0%{-webkit-transform:translateY(100px);transform:translateY(100px)}50%{-webkit-transform:translateY(-20px);transform:translateY(-20px)}100%{-webkit-transform:translateY(0px);transform:translateY(0px)}}@keyframes form-fly-up{0%{-webkit-transform:translateY(100px);transform:translateY(100px)}50%{-webkit-transform:translateY(-20px);transform:translateY(-20px)}100%{-webkit-transform:translateY(0px);transform:translateY(0px)}}.separate-layer{-webkit-transform:translateZ(0);transform:translateZ(0)}#global-notification{font-weight:normal;position:fixed;z-index:600;text-align:center;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;font-size:24px;bottom:-86px;left:0;right:0;padding:0 10px;line-height:86px;height:86px;background:#191919;background:rgba(0,0,0,0.85);color:#ffffff;-webkit-transition:bottom;transition:bottom}#global-notification.has-errors{background:#780000;background:rgba(120,0,0,0.85)}#global-notification.is-visible{bottom:0px}#global-notification .close-notification{position:absolute;right:0;cursor:pointer;color:#999;height:86px;width:48px}#global-notification .ico-close-notification{background:url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2071.838%2071.837%22%20enable-background%3D%22new%200%200%2071.838%2071.837%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3Ecircle%2Cellipse%2Cline%2Cpath%2Cpolygon%2Cpolyline%2Crect%2Ctext%7Bfill%3A%23eeeeee%20%21important%3B%20%7D%3C%2Fstyle%3E%3Cg%3E%3Cpath%20d%3D%22M70.083%2C15.01c2.34-2.34%2C2.34-6.169%2C0-8.509l-4.747-4.747c-2.34-2.339-6.169-2.339-8.509%2C0L40.174%2C18.408%20%20%20c-2.341%2C2.341-6.17%2C2.341-8.511%2C0L15.011%2C1.754c-2.34-2.339-6.17-2.339-8.51%2C0.002L1.755%2C6.501c-2.34%2C2.341-2.34%2C6.17%2C0%2C8.51%20%20%20l16.653%2C16.653c2.34%2C2.341%2C2.34%2C6.17%2C0%2C8.51L1.756%2C56.825c-2.34%2C2.34-2.34%2C6.17%2C0%2C8.511l4.746%2C4.745%20%20%20c2.34%2C2.341%2C6.169%2C2.341%2C8.509%2C0.001l16.652-16.652c2.341-2.34%2C6.17-2.34%2C8.511%2C0l16.651%2C16.652c2.341%2C2.34%2C6.171%2C2.34%2C8.51%2C0%20%20%20l4.747-4.747c2.34-2.339%2C2.34-6.169%2C0-8.509L53.43%2C40.173c-2.34-2.341-2.34-6.169%2C0-8.51L70.083%2C15.01z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat;margin-top:35px}.google-button{height:40px;display:-webkit-inline-box;display:-webkit-inline-flex;display:-ms-inline-flexbox;display:inline-flex;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;background-color:#ffffff;border-radius:5px;white-space:nowrap;box-shadow:1px 1px 0px 1px rgba(0,0,0,0.05);text-decoration:none;-webkit-transition-property:background-color, box-shadow;transition-property:background-color, box-shadow;-webkit-transition-duration:150ms;transition-duration:150ms;-webkit-transition-timing-function:ease-in-out;transition-timing-function:ease-in-out}.google-button:focus,.google-button:hover{box-shadow:1px 4px 5px 1px rgba(0,0,0,0.1)}.google-button:active{background-color:#e5e5e5;box-shadow:none;-webkit-transition-duration:50ms;transition-duration:50ms}.google-button__icon{display:block;margin:8px 0 8px 8px;width:18px;height:18px}.google-button__text{display:block;padding:0 24px;font-size:14px;font-weight:bold;color:#737373}.visuallyhidden{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}
.ico-shopify-bag { margin: 10px; }

nav.icons {
  display: block;
  position: fixed;
  top: 2%;
  right: 2%;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

nav.icons ul {
  list-style-type: none;
}

nav.icons ul li {
  display: inline;
}

nav.icons ul li a {
  text-decoration: none;
}

nav.icons svg {
  height: 24px;
  width: 23px;
}

.product {
  background: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 180px;
  margin: 3px;
  /*width: 250px;*/
}

.product > div {
  flex: 1 0 50%;
}

.product > div:first-child {
  flex: 0 1 100%;
}

.product > div {
  box-shadow: 1px 1px #e4e4e4;
  border: none;
}

.product > div > label {
  display: block;
  padding: 10px 15px 1px;
  vertical-align: top;
  font-size: 10px;
  font-weight: bold;
  color: #798c9c;
}

.product > div > span {
  display: inline-block;
  position: relative;
  width: 100%;
  line-height: 20px;
  padding: 4px 15px 8px;
  border: none;
  outline: none;
  color: #1a1a1a;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  /*font-weight: bold;*/
  font-size: 14px;
  opacity: .8;
  transition: all linear .3s;
}

.overlay {
  position: fixed;
  /*background: #F5F6F7;*/
  background: #fff;
  padding: 0 8px;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.overlay-menu {
  margin-top: 25px;
  /*padding: 50px 10px 5px 10px;*/
  padding: 6px 0 8px;

}

.overlay-menu ul {
  width: 100%;
  padding: 0 0 8px;
  margin: 0 0 8px;
  border-bottom: 1px solid #ddd;
}

.overlay-menu ul:last-child {
  margin: 0;
  padding: 0;
  border-bottom: none;
}

.overlay-menu li:hover {
  cursor: pointer;
  background: #479ccf;
  color: #000;
  text-decoration: none;
  outline: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.overlay-menu li {
    color: #000;
    height: 35px;
    position: relative;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    flex-direction: row;
    align-items: center;
}

.overlay-menu li:hover > a {
  color: #fff;
}

.overlay-menu a {
  color: #000;
  text-decoration: none;
}

.overlay-menu a svg {
  display: inline-block;
  vertical-align: middle;
  height: 20px;
  width: 20px;
  margin: 0 10px;
}
